* {
  border: 0;
  margin: 0;
  padding: 0;
}

body > div {
  width: 640px;
  height: 640px;
  margin: 20px;
}


div > div {
  float: left;
  width: 80px;
  height: 80px;
  position: relative;
  background: #000;
  margin-top: 80px;
  margin-bottom: 80px;
}


div > div:nth-child(1)::before {
  position: absolute;
  content: "ABCDEFGH";
  letter-spacing: 4.7rem;
  width: 640px;
  height: 20px;
  color: #2e2e2e;
  bottom: 80px;
  background: #7cfc00;
}

div > div:nth-child(even) {
  background: #fff; 
}

div > div:nth-child(odd) {
  background: #000;
}

div > div::after, div > div::before{
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
}
div > div:nth-child(even)::after {
  background: #000;
  top: 80px;
}

div > div:nth-child(n + 9):nth-child(odd)::before {
  background: #000;
  bottom: 80px;
}

div > div:nth-child(n + 9):nth-child(odd) {
  background: #fff;
}
div > div:nth-child(n + 9):nth-child(even) {
  background: #000;
}

div > div:nth-child(n + 9):nth-child(odd)::after {
  background: #000;
  top: 80px;
}
div > div:nth-child(n + 9):nth-child(even)::after {
  background: #fff;
  top: 80px;
}

div > div:nth-child(n + 17):nth-child(odd)::before {
  background: #fff;
  bottom: 80px;
}

div > div:nth-child(n + 17):nth-child(even)::before {
  background: #000;
  bottom: 80px;
}

div > div:nth-child(n + 17):nth-child(odd) {
  background: #000;
  margin-bottom: 160px;
}
div > div:nth-child(n + 17):nth-child(even) {
  background: #fff;
  margin-bottom: 160px;
}

div > div:nth-child(n + 17):nth-child(odd)::after {
  background: #fff;
  top: 80px;
}
div > div:nth-child(n + 17):nth-child(even)::after {
  background: #000;
  top: 80px;
}


div > div:nth-child(2)::before {
  
  content: "12345678";
  letter-spacing: 4.7rem;
  width: 640px;
  height: 20px;
  color: #2e2e2e;
  top: 640px;
  background: #7cfc00;
  left: -80px;
  font-size: larger; /*  add font-size in PX, delete larger  */
}


div > div:nth-child(3)::before {
  content: "ABCDEFGH";
  letter-spacing: 4.7rem;
  width: 20px;
  height: 680px;
  color: #2e2e2e;
  top: -20px;
  background: #7cfc00;
  left: -180px;
}

div > div:nth-child(4)::before {
  letter-spacing: 4.7rem;
  width: 20px;
  height: 680px;
  color: 2e2e2e;
  top: -20px;
  background: #7cfc00;
  left: 400px;
}
